<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to your speech to search contacts by voice.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to the microphone for voice search functionality.</string>
    
    <key>UILaunchScreen</key>
        <dict>
            <key>UIColorName</key>
            <string>primaryThemeColor</string>
            <key>UIImageName</key>
            <string>appLogo</string>
            <key>UIImageRespectsSafeAreaInsets</key>
            <string>YES</string>
        </dict>
        
        <key>NSPhotoLibraryUsageDescription</key>
        <string>We need access to your photo library to let you select a photo.</string>

        
</dict>
</plist>
